    * {
        margin: 0px;
        padding: 0px;
    }
    
    .nav-container {
        display: flex;
        align-items: center;
        background-color: rgb(145, 36, 36);
        justify-content: space-around;
        padding: 10px;
        position: fixed;
        width: 100%;
    }
    
    .input {
        width: 200px;
        border-style: none;
        height: 30px;
        border-radius: 5px;
    }
    
    .menus {
        display: flex;
        list-style: none;
        gap: 30px;
        font-size: 20px;
        font-weight: 15px;
        color: white;
    }
    
    .banner-container {
        height: 100vh;
        background-image: url(./image/background.jpeg), linear-gradient(rgba(70, 67, 67, 0.2), rgba(138, 112, 112, 0.4));
        /* background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(39, 39, 77, 1) 39%, rgba(0, 212, 255, 1) 100%); */
        background-blend-mode: overlay;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: center;
        display: flex;
    }
    
    .info-h1 {
        color: rgb(136, 38, 38);
        font-size: 75px;
        font-weight: bold;
    }
    
    .span-t-color {
        color: rgb(255, 17, 17);
    }
    
    .info-p {
        color: white;
        padding: 10px;
        width: 50%;
        margin: auto;
        font-weight: bold;
    }
    
    .btn {
        padding: 12px 20px;
        border: none;
        font: bolder;
    }
    
    .primay-btn {
        background-color: red;
        color: white;
    }
    
    .service-btn {
        padding: 12px 30px;
        border: none;
        font: bolder;
        background-color: red;
        color: white;
    }
    
    .service-container-left {
        color: white;
    }
    
    .service-continer {
        background-image: url(./image/footer-bg.png), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
        ;
        height: 100vh;
        background-blend-mode: overlay;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        /* justify-content: space-around; */
        padding: 20px;
    }
    
    .service-title {
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .text-a {
        margin-left: 10%;
    }
    
    .icon {
        width: 70px;
        margin: 20px;
    }
    
    .box {
        background-color: white;
        width: 150px;
        height: 100px;
        padding: 50px;
        color: black;
        text-align: center;
        border-radius: 5px;
    }
    
    .service-p {
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .first-two-box {
        display: flex;
        gap: 5px;
        /* padding: 10px; */
        margin-top: 5px;
    }
    
    .sec-two-box {
        display: flex;
        gap: 5px;
        margin-top: 5px;
        /* padding: 10px; */
    }
    
    .author-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .author {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .profile-author {
        display: flex;
        align-items: center;
        gap: 5px;
        border-right: 2px solid rgb(155, 54, 54);
        padding: 20px;
    }
    
    .app-phone {
        display: flex;
        align-items: center;
    }
    
    .app-container {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: auto;
        padding: 20px;
        background-color: rgb(158, 11, 11);
        border-radius: 30px;
        margin-top: -50px;
        text-align: center;
    }
    
    .app-description {
        text-align: center;
        padding: 30px;
    }
    
    .app-button {
        padding: 30px;
    }
    
    .blog-title {
        text-align: center;
        margin: 50px;
        color: black;
        padding: 50px;
    }
    
    .card {
        width: 250px;
        height: 350px;
        background-color: bisque;
        box-shadow: 5px 5px 5px 5px rgb(179, 160, 160);
        border-radius: 10px;
        margin-right: 10px;
    }
    
    .card-img {
        width: 100%;
        border-radius: 10px;
    }
    
    .card-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .card-p {
        padding: 5px;
        text-align: center;
    }
    
    .cards {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-bottom: 50px;
    }
    
    .blog-container {
        background-color: brown;
        margin-bottom: 30px;
        border-radius: 20px;
        width: 70%;
        margin: auto;
    }
    
    .small {
        color: rgb(45, 2, 110);
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }